<section>
  <div class="content-container">
    <h1>Experience</h1>
    <div class="text-container">
      <h2 class = "publix-lg">
        Publix Technology - Software Engineering Intern (2024)
      </h2>
      <h2 class = "publix-sm">
        Publix Technology<br>Software Engineering Intern (2024)
      </h2>
      <div class="image-container">
        <img id="Publix" src="PTechBanner.jpg" alt="A graphic of Publix Technology which contains a man shopping in a grocery store aisle.">
      </div>
      <p>
        As a software engineering intern for Publix Technology, I worked as a developer on the Publix Property Portal (P3), which is a web application that allows Publix employees and tenants to view and manage their property.
      </p>
      <p>
        I worked on the front end and back end which was hosted on Microsoft Azure and maintained through Azure DevOps. I accomplished several features and bug fixes for the web app, which was built using C#/ASP.NET MVC and used frameworks and libraries such as Kendo, Bootstrap, and jQuery. 
      </p>
      <p>
        I was a primary developer of a feature that was released to production and used by Publix employees and tenants. I added a function to the existing lease compliance control panel to rename file attachments, which required me to use front-end knowledge to add the button and manipulate the file name to then send to the back end to update the name of the file as an Azure Storage Blob.
      </p>
      <p>
        I interned for a period of 3 months, which was the duration of a sprint cycle. I worked in an agile environment and collaborated with a team of developers, business analysts, and project managers. I also had the opportunity to present my work to several teams and receive feedback. At the end of the internship, I presented my work to my cohort and leaders in attendance at the intern showcase, where I received very favorable feedback.
      </p>
    </div>
  </div>
</section>
<hr>