@import '../sections.styles.scss';

section {
  .content-container {
    .left-container{
      width: 184px;
      h1 {
        text-align: left;
        margin-left: 1rem;
        width: 99px;
      }
      .image-container {
        text-align: center;
        #UF-lg {
          margin: auto;
          display: flex;
          height: 50%;
          width: 99px;
          border-radius: 5px;
          margin-top: 2.2rem;
          object-fit: cover;
        }
      }
    }
    .text-container {
      .image-container {
        text-align: center;
        #UF-sm {
          display: none;
        }
      }
    }
    .image-container {
      #DrumMajor {
        object-fit: cover;
        width: 9rem;
        height: 10rem;
        border-radius: 5px;
        box-shadow: 2px 3px 5px -5px;
        object-position: 30%;
        margin-top: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    .content-container {
      h1 {
        margin-left: 0px;
        margin-right: 0px;
      }
      .left-container {
        h1 {
          text-align: center;
          margin-left: 0rem;
          width: 100%;
        }
        .image-container {
          #UF-lg {
            display: none;
          }
        }
      }
      .text-container{
        .image-container {
          #UF-sm {
            margin: auto;
            display: flex;
            height: 30%;
            width: 50%;
            border-radius: 5px;
            margin-top: 1rem;
          }
        }
      }
      .image-container {
        #DrumMajor {
          object-fit: cover;
          width: 90%;
          height: 100%;
          border-radius: 5px;
          box-shadow: 2px 3px 5px -5px;
          object-position: 30%;
          margin-top: 0rem;
        }
      }
    }
  }
}