<section>
  <div class="content-container">
    <div class="left-container">
      <h1>Education</h1>
      <div class="image-container">
        <img id="UF-lg" src="/GatorHead.png" alt="A picture of the University of Florida Gator logo">
      </div>
    </div>
    <div class="text-container">
      <h2>
        <b>University of Florida (2020-2024)</b>
      </h2>
      <div class="image-container">
        <img id="UF-sm" src="/GatorHead.png" alt="A picture of the University of Florida Gator logo">
      </div>
      <p>
        I graduated Cum Laude (3.71 GPA) with a Bachelor's of Science in Computer Science and a minor in Music Performance. Some standout courses I had taken include Data Structures and Algorithms, Operating Systems, Computer Networking, and Software Engineering.
      </p>
      <p>
        In fall semesters, I performed with the UF Pride of the Sunshine Marching Band. I served as a section leader for the baritones and later became a drum major for the entire ensemble. In the spring, I was a member of the UF Symphonic Band or Concert Band and played the Euphonium. 
      </p>
      <p>
        In Fall 2021, I was initiated into the Alpha Eta Chapter of Kappa Kappa Psi, National Honorary Band Service Fraternity. I was an active member for every semester until I graduated. I served as the chapter's Webmaster for several semesters and sat on multiple committees to serve the band program at UF.
      </p>
    </div>
    <div class="image-container">
      <img id="DrumMajor" src="/DrumMajor.jpg" alt="A picture of me conducting the UF Pride of the Sunshine Marching Band">
    </div>
  </div>
</section>