<section>
  <div class="content-container">
    <div class="left-container">
      <h1>About Me</h1>
      <div class="image-container">
        <img id="Ryan" src="/Ryan.jpg" alt="A picture of Ryan Lu">
      </div>
    </div>
    <div class="text-container">
      <p>Hi, I'm Ryan. I love programming, gaming, music, and my cat!</p>
      <p>I'm experienced in C++, Java, C#, Python, React, Angular, and more - I love learning about new languages and frameworks. My main goal as a software engineer is to contribute to a project and team where I'm truly valued and I know I'm doing impactful work.</p>
      <p>I have many years of experience as a leader in my time performing in marching bands and within service organizations, which I believe sets me apart as someone who understands what it means to work in a team and how to communicate effectively.</p>
      <p>I'm always looking for new opportunities to learn and grow as a developer and as a person. Feel free to reach out to me via email at <span tooltipStr="I do this so I don't get spam from robots!" placement="bottom" borderColor="orangered" backgroundColor="#2F314A" textColor="#EDF2F4">"(my first name) [at] (my full name) [dot] dev"</span> or <a href="https://www.linkedin.com/in/-ryan-lu-" style="color: orangered">connect with me on LinkedIn!</a></p>
    </div>
    <div class="image-container">
      <img id="MJ" src="/MJ.jpg" alt="A picture of Ryan's cat, MJ!">
    </div>
  </div>
</section>
<hr>