@use '../sections.styles.scss';

section {
  .content-container {
    h1 {
      margin-left: 1.5rem;
    }
    .image-container {
      #Ryan {
        height: 15rem;
        width: 7rem;
        border-radius: 5px;
        box-shadow: 2px 3px 5px -5px;
        margin-top: 1.5rem;
        object-fit: cover;
        margin-left: -1rem;
      }
      #MJ {
        height: 10rem;
        width: 11rem;
        border-radius: 5px;
        box-shadow: 2px 3px 5px -5px;
        vertical-align: middle;
        margin-top: 50%;
        margin-right: -1rem;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    .content-container {
      h1 {
        margin-left: 0px;
      }
      .image-container {
        #Ryan {
          height: 20rem;
          width: 15rem;
          max-width: 95%;
          border-radius: 5px;
          box-shadow: 2px 3px 5px -5px;
          margin-top: 1.5rem;
          object-fit: cover;
        }
        #MJ {
          height: 20rem;
          width: 22rem;
          max-width: 95%;
          border-radius: 5px;
          box-shadow: 2px 3px 5px -5px;
          vertical-align: middle;
          margin-top: 0.5rem;
          margin-right: 0rem;
          object-fit: cover;
        }
      }
    }
  }
}
