@use '../sections.styles.scss';

section {
  .content-container {
    .left-container {
      h1 {
        margin-left: 2.2rem;
      }
      .blurb {
        max-width: 10rem;
        margin-top: 0.5rem;
        a {
          color: orangered;
        }
      }
    }
    .text-container {
      h2 {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    max-width: 90%;

    .content-container {
      .left-container{
        h1 {
          margin-left: 0px;
          margin-right: 0px;
        }
        .blurb {
          margin-bottom: 0rem;
          max-width: 100%;
        }
      }
    }
  }
}