<section>
  <div class="content-container">
    <h1>Projects</h1>
    <div class="text-container">
      <div class="project">
        <h2>UF Course Planner (09/24 - 12/24)</h2>
        <ng-image-slider #nav 
          [images]="UFCoursePlannerImages"
          [infinite]="true"
          [imageSize]="{width: '400px', height: '400px'}"
          [showArrow]="true"
          [autoSlide]="2"
          [animationSpeed]="3"
          [manageImageRatio]="true">
        </ng-image-slider>
        <p>I was a scrum master and developer for the UF Course Planner, which served as my senior design project. The purpose of the project is to provide students with a one-stop app to manage their courses and have the application schedule courses for the semester according to provided degree plans and factors like what courses have already been taken and how many credits the user wishes to take.</p>
        <p>I collaborated with 3 other students to deploy a React web application using Microsoft Azure's services, including Azure Static Web Apps, user authentication through Microsoft Entra, Azure Functions, and PostgreSQL. This was my first time using React outside of personal practice, and I found it to be a useful way of developing components to work on parts of a project alongside other developers.</p>
        <p>We received full marks for our presentation and demonstration and had even received encouragement from faculty to continue or adapt this project under a grant through the university. It was a very valuable learning experience for me, as it was a project that felt completely within the hands of my group, and we did not receive much structure or guidance.</p>
      </div>
      <div class="project">
        <h2>Thought Bubbles (01/24 - 04/24)</h2>
        <ng-image-slider #nav 
          [images]="ThoughtBubblesImages"
          [infinite]="true"
          [imageSize]="{width: '400px', height: '400px'}"
          [showArrow]="true"
          [autoSlide]="2"
          [animationSpeed]="3"
          [manageImageRatio]="true">
        </ng-image-slider>
        <p>I was the team leader and a developer for Thought Bubbles, which served as the final project for one of my courses. The app is meant to facilitate discussions within classrooms by posing a question on the screen and collecting responses to display and reply to on the screen.</p>
        <p>I worked with 4 other students to host an application on UF's servers based on a Linux, Apache, MySQL, and PHP (LAMP) stack. We used Figma for prototyping purposes, which let us create the front end through BootStrap and jQuery easily.</p>
        <p>We received favorable reviews at the end-of-semester showcase, and our professor had remarked that it was a tool that he could see himself actually using! This project was fun to work through limitations on what we could host on UF's servers.</p>
      </div>
    </div>
  </div>
</section>
<hr>